.select-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.select-container label {
  margin-right: 10px;
}

#select-numero {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
